.pata-msaada-container{
    margin-top: 4rem;
}
h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
}

.question {
    display: none;
    margin-bottom: 20px;
}

.question.active {
    display: block;
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

label {
    display: block;
    margin: 10px 0;
    font-weight: bold;
    color: #555;
}
.input[type ="radio"]{
    display: none;
}
input[type="radio"], input[type="date"] {
    margin-right: 10px;
}

input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

#results {
    margin-top: 20px;
}

#results ul {
    padding-left: 20px;
}

.progress-bar {
    height: 20px;
    background-color: var(--accent-color);
    width: 0;
    border-radius: 4px;
    transition: width 0.3s;
}

.progress-container {
    width: 100%;
    background-color: #cfcecf;
    border-radius: 4px;
    margin-bottom: 20px;
    position: relative;
}

.validation-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}
#label-qn{
    width: 100%;
    padding:6px;
    border:1px solid var(--accent-color);
    border-radius:8px

}